<div class="container" align="center">

	<h1>
		<strong>Welcome to Bookers !!</strong>
	</h1>
	<p>Bookersでは様々な書籍に関するあなたの意見や</p>
	<p>印象を共有し交換することができます。</p>
	<a href="/books">a tag start</a>
	</br>
	<%= link_to "link to start", books_path %>

</div>